In [29]:
%pip install yellowbrick

Requirement already satisfied: yellowbrick in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (1.5)
Requirement already satisfied: matplotlib!=3.0.0,>=2.0.2 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from yellowbrick) (3.8.2)
Requirement already satisfied: scipy>=1.0.0 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from yellowbrick) (1.11.4)
Requirement already satisfied: scikit-learn>=1.0.0 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from yellowbrick) (1.3.2)
Requirement already satisfied: numpy>=1.16.0 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from yellowbrick) (1.26.2)
Requirement already satisfied: cycler>=0.10.0 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from yellowbrick) (0.12.1)
Requirement already satisfied: contourpy>=1.0.1 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.2.0)
Requirement already satisfied: fonttools>=4.22.0 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (4.45.1)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.4.5)
Requirement already satisfied: packaging>=20.0 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (23.2)
Requirement already satisfied: pillow>=8 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.8.2)
Requirement already satisfied: joblib>=1.1.1 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from scikit-learn>=1.0.0->yellowbrick) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from scikit-learn>=1.0.0->yellowbrick) (3.2.0)
Requirement already satisfied: six>=1.5 in d:\wakad thu fri 6-8pm\repository\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:
from warnings import filterwarnings
filterwarnings('ignore')

In [31]:
import pandas as pd
df = pd.read_csv("Mall_Customers.csv")
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [33]:
df.isna().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [34]:
df.duplicated

<bound method DataFrame.duplicated of      CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]>

In [35]:
df.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [36]:
df.columns = ['CustomerID', 'Gender', 'Age', ' Income',
       'Spend']

In [37]:
df.head()

   CustomerID  Gender  Age   Income  Spend
0           1    Male   19       15     39
1           2    Male   21       15     81
2           3  Female   20       16      6
3           4  Female   23       16     77
4           5  Female   31       17     40

In [38]:
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
plt.figure(figsize=(10, 6))
sns.scatterplot(data=df, x='Income', y='Spend')
plt.title('Scatterplot for income vs spend')
plt.show()

ValueError: Could not interpret value `Income` for `x`. An entry with this name does not appear in `data`.